* {
    box-sizing: border-box;
}



.container {
   
display: flex;
justify-content: space-evenly
   

}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
    margin-top: 10px;
    
}

.box {
    font-family: sans-serif;
    

}


.box2 {
    background-color: beige;
    height: 650px;
    width: 800px;
    
}

.box3 {
    background-color: rgb(241, 163, 90);
    height: 650px;
    width: 1500px;
}

    .smallbox {
        background-color: rgb(5, 5, 5);
        height: 50%;
        width: 50%;

    }
    
    


.box4 {
    background-color: gray;
    height: 60px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.box5 {
    background-color: rgb(139, 116, 86);
    height: 60px;
    width: 1300px;
    margin-top: 5px;
    margin-bottom: 5px;
    
  
}

.box6 {
    display: flex;
    justify-content: left;
    background-color: blue;
    height: 84px;
    margin-top: 10px;
    
    
    

}

.box7 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 5px;
    font-size: x-small;
    font-family: sans-serif;


}

.box8 {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 50px;
    width: 150px;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 5px;
    font-size: x-small;
    font-family: sans-serif;
    
}

.container3 {
    position: absolute;
    background-color:rgb(186, 241, 245);
    text-align: center;
    height: 200px;
    width: 300px;
    margin-top: 430px;
    margin-left: 750px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container4 {
    position: absolute;
    background-color:rgb(186, 241, 245);
    text-align: center;
    height: 200px;
    width: 300px;
    margin-top: 430px;
    margin-left: 1150px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container5 {
    position: absolute;
    background-color:rgb(186, 241, 245);
    text-align: center;
    height: 200px;
    width: 300px;
    margin-top: 430px;
    margin-left: 1530px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;

}









 