* {
    box-sizing: border-box;
}
.container {
   
display: flex;
justify-content: space-evenly
   

}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
  
    gap: 10px;
    
}

.box {
    font-family: sans-serif;
    

}


.box2 {
    background-color: beige;
    height: 650px;
    width: 800px;
    
}

.box3 {
    background-color: rgb(241, 163, 90);
    height: 650px;
    width: 650px;
    flex-grow: 1;
}

.box4 {
    background-color: gray;
    height: 60px;
    width: 500px;
    
}

.box5 {
    display: flex;
    justify-content: left;
    background-color: rgb(139, 116, 86);
    height: 60px;
    width: 500px;
    flex-grow: 1;
    margin: 5px;
}

.box6 {
    display: flex;
    justify-content: left;
    background-color: blue;
    height: 70px;
    

}

.box7 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    height: 50px;
    width: 150px;
    outline-color: black ;
    outline-style: solid;
    margin-top: 9px;
    margin-left: 5px;
    font-size: x-small;


}

.box8 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: white;
    height: 50px;
    width: 150px;
    outline-color: black ;
    outline-style: solid;
    margin-left: auto;
    margin-top: 9px;
    margin-right: 5px;
    font-size: x-small;
    
}







 